<ion-view title="Cadastro" id="page5" style="background-color:#A6CE39;" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cadastro-form1" class="list ">
            <ion-list id="cadastro-list1" class=" ">
                <label class="item item-input " id="cadastro-input1">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="cadastro-input2">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="cadastro-input3">
                    <span class="input-label">Senha</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <button id="cadastro-button1" class=" button button-stable  button-block ">Cadastre-se</button>
        </form>
        <div class="">
            <img src="img/V2tVl2BIRSafuSKSgC8J_Logo_paraionic.jpg" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>