<ion-view title="Como Diagnosticar?" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/0yvUQYMdQxXhulva8XxK_cd22c5fa-eed0-462a-84f9-0e70b713e5f0.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="comoDiagnosticar-list4" class=" ">
            <ion-item id="comoDiagnosticar-list-item9" class="  ">Fratura de Esmalte</ion-item>
            <ion-item id="comoDiagnosticar-list-item10" class="  ">Fratura de Esmalte e Dentina</ion-item>
            <ion-item id="comoDiagnosticar-list-item11" class="  ">Fratura Coronária com Exposição Pulpar</ion-item>
            <ion-item id="comoDiagnosticar-list-item12" class="  ">Fratura de Coroa e Raiz</ion-item>
            <ion-item id="comoDiagnosticar-list-item13" class="  ">Fratura de Raiz</ion-item>
            <ion-item id="comoDiagnosticar-list-item14" class="  ">Fratura Alveolar</ion-item>
            <ion-item id="comoDiagnosticar-list-item15" class="  ">Concussão</ion-item>
            <ion-item id="comoDiagnosticar-list-item16" class="  ">Subluxação</ion-item>
            <ion-item id="comoDiagnosticar-list-item17" class="  ">Luxação Extrusiva</ion-item>
            <ion-item id="comoDiagnosticar-list-item18" class="  ">Luxação Lateral</ion-item>
            <ion-item id="comoDiagnosticar-list-item19" class="  ">Luxação Intrusiva</ion-item>
            <ion-item id="comoDiagnosticar-list-item20" class="  ">Avulsão</ion-item>
        </ion-list>
    </ion-content>
</ion-view>