<ion-view>
  <ion-content class="content">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label login">Login</span>
        <input class="login" type="text" placeholder="Login">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label login">Senha</span>
        <input class="login" type="password" placeholder="Senha">
      </label>
    </div>
    <div>
      <label>
        <button class="button button-clear button-light">
          Entrar
        </button>
      </label>
    </div>
    <div>
      <label>
        <button class="button button-clear button-light">
          Esqueceu sua senha?
        </button>
      </label>
    </div>
    <div>
      <label>
        <button class="button button-clear button-light">
          Cadastre-se
        </button>
      </label>
    </div>
  </ion-content>
</ion-view>
