<ion-view title="Menu" id="page7" style="background-color:#A6CE39;" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="">
            <img src="img/0yvUQYMdQxXhulva8XxK_cd22c5fa-eed0-462a-84f9-0e70b713e5f0.jpg" width="40%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 37px;"></div>
        <ion-list id="menu-list3" class=" ">
            <ion-item id="menu-list-item1" class="  ">Traumatismo em dentes</ion-item>
            <ion-item id="menu-list-item4" ui-sref="comoDiagnosticar" class="  ">Como Diagnosticar</ion-item>
            <ion-item id="menu-list-item5" class="  ">Condutas Clínicas</ion-item>
            <ion-item id="menu-list-item6" class="  ">Como Diagnosticar possíveis pós-traumatismos nos dentes decíduos</ion-item>
            <ion-item id="menu-list-item7" class="  ">Medidas Preventivas</ion-item>
            <ion-item id="menu-list-item8" ui-sref="quiz" class="  ">Quiz</ion-item>
            <ion-item id="menu-list-item2" class="  ">Referências</ion-item>
        </ion-list>
    </ion-content>
</ion-view>