<ion-view title="Quiz" id="page9" style="background-color:#A6CE39;" class=" ">
    <ion-content padding="true" class="has-header">
        <div ng-if="vm.pergunta">
            <p id="quiz-markdown1" style="color:#575656;text-align:center;" class=" ">
                {{vm.pergunta.texto}}
            </p>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <form name="respostasForm">
                <form id="quiz-form4" class="list ">
                    <ion-radio required ng-value="resposta.id" ng-model="vm.alternativaMarcada" ng-repeat="resposta in vm.pergunta.respostas">
                        {{resposta.texto}}
                    </ion-radio>
                    <!--<ion-checkbox>Concussão</ion-checkbox>
            <ion-checkbox>Subluxação</ion-checkbox>
            <ion-checkbox>Luxação extrusiva</ion-checkbox>-->
                </form>
                <button ng-disabled="!respostasForm.$valid" ng-click="vm.responder(vm.alternativaMarcada)" id="quiz-button4" class=" button button-light  button-block button-outline ">Resposta</button>
            </form>
        </div>
        <div ng-if="!vm.pergunta">
            <p id="quiz-markdown1" style="color:#575656;text-align:center;" class=" ">
                Você respondeu a todas as perguntas!
            </p>
        </div>
    </ion-content>
</ion-view>