<ion-view title="Quiz" id="page9" style="background-color:#A6CE39;" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="quiz-markdown1" style="color:#575656;text-align:center;" class=" ">Após queda no parquinho, uma menina de 3 anos de idade compareceu ao consultório com a seguinte situação clínica: queixa de sensibilidade no elemento 51, sangramento no nível do sulco gengival, mobilidade moderada, porém sem deslocamento do dente.
            Como é classificado o tipo de traumatismo descrito?</p>
        <div class="spacer" style="width: 300px; height: 24px;"></div>
        <form id="quiz-form4" class="list ">
            <ion-checkbox>Concussão</ion-checkbox>
            <ion-checkbox>Subluxação</ion-checkbox>
            <ion-checkbox>Luxação extrusiva</ion-checkbox>
        </form>
        <button id="quiz-button4" class=" button button-light  button-block button-outline ">Resposta</button>
    </ion-content>
</ion-view>