<ion-view title="Traumatismo em Dentes Decíduos">
    <ion-content padding="true" class="has-header">
        <div style = "text-align: justify;">
           <p>O traumatismo dentoalveolar &eacute; considerado um problema de sa&uacute;de p&uacute;blica devido &agrave; sua elevada preval&ecirc;ncia, &agrave; ocorr&ecirc;ncia em pacientes de pouca idade, ao elevado custo e &agrave; longa dura&ccedil;&atilde;o de tratamento.
           </p>
           <p>A etiologia e o local de ocorr&ecirc;ncia dos traumatismos dent&aacute;rios dependem das peculiaridades culturais da regi&atilde;o estudada e principalmente da faixa et&aacute;ria dos indiv&iacute;duos.
           </p>
           <p>A faixa et&aacute;ria mais frequente dos traumatismos na denti&ccedil;&atilde;o dec&iacute;dua &eacute; de 1 a 3 anos de idade, e as quedas s&atilde;o a causa mais comum. Os dentes superiores s&atilde;o os mais frequentemente atingidos, principalmente os incisivos centrais.
           </p>
           <p>As luxa&ccedil;&otilde;es dent&aacute;rias s&atilde;o os tipos de traumatismo mais comum na denti&ccedil;&atilde;o dec&iacute;dua, em virtude das estruturas de suporte serem mais resilientes nesta fase. S&atilde;o v&aacute;rios os fatores que caracterizam o tipo de trauma: a energia do impacto, a resili&ecirc;ncia &nbsp;do objeto contra o qual ocorre o impacto, a dire&ccedil;&atilde;o da for&ccedil;a do impacto, o tipo de superf&iacute;cie contra a qual o dente sofre o impacto e o grau de desenvolvimento da raiz do dente dec&iacute;duo.
           </p>
           <p>Os germes dos incisivos permanentes &nbsp;apresentam estreita rela&ccedil;&atilde;o com as ra&iacute;zes de seus antecessores, independente do est&aacute;gio de desenvolvimento em que o dente permanente se encontre. Por esta raz&atilde;o, deve-se dar muita import&acirc;ncia aos traumatismos na denti&ccedil;&atilde;o dec&iacute;dua, examinando periodicamente o paciente acometido pelo traumatismo, visando detectar precocemente altera&ccedil;&otilde;es nos dentes dec&iacute;duos e nos sucessores em desenvolvimento.</p>
        </div>
    </ion-content>
</ion-view>